<!DOCTYPE html>
<html xmlns:form="http://www.w3.org/1999/xhtml">
<body>

<h2>Pobieranie danych xml - ulice</h2>
<p>tyle jest ulic we wroclawiu --></p>
<p>podaj zakres ulic od do:</p>
<form:form action="/">
    <label for="fod">od:</label><br>
    <input type="text" id="fod" name="fod" value="1"><br>
    <label for="fdo">Last name:</label><br>
    <input type="text" id="fdo" name="fdo" value="2"><br><br>
    <input type="submit" value="Przejdz dalej">
</form:form>

<p>Przejscie dalej pomoze w pobieraniu danych o ulicach Wroclawia.</p>

</body>
</html>
